/app/Console
/app/Exceptions
/app/Providers
/app/User.php
/app/Http/Middleware
/app/Http/Kernel.php
/app/Http/Controllers/Auth

/bootstrap
/config
/database
/node_modules

/public/hot
/public/.htaccess
/public/favicon.ico
/public/index.php
/public/robots.txt
/public/storage

/routes/api.php
/routes/channels.php
/routes/console.php

/storage
/tests
/vendor

.editorconfig
artisan
composer.lock
phpunit.xml
.phpunit.result.cache
server.php
yarn.lock
yarn-error.log
.env
.env.example
Homestead.json
Homestead.yaml
npm-debug.log